<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
            <h4 class="home-heading">TV</h4>
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-youtube-play feature-icon text-primary"></i>
        </div>
        <div>
            <h4 class="home-heading">Nexus Player</h4>
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-code-fork feature-icon text-primary"></i>
        </div>
        <div>
            <h4 class="home-heading">Cable</h4>
        </div>
      </div>

      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-headphones feature-icon text-primary"></i>
        </div>
        <div>
            <h4 class="home-heading">Radio</h4>
        </div>
      </div>

    </div>

  </div>
</div>