<div ui-content-for="title">
  <span>{{remote()}}</span>
</div>

<div class="container" style="padding: 20px">
	<div class="row">
		<div style="width: 100%">
			<a class="btn btn-primary" style="width: 32%" ng-click="send('KEY_POWER')">
	            <i class="fa fa-power-off"></i> Power
	        </a>
	        <a class="btn btn-primary"style="width: 32%" ng-click="send('INPUT')">
	            <i class="fa fa-exchange"></i> Input
	        </a>
	        <a class="btn btn-primary"style="width: 32%" ng-click="send('MENU')">
	            <i class="fa fa-reorder"></i> Menu
	        </a>
	    </div>
	</div>
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-6 col-md-4" style="width: 50%;padding-right: 5px;padding-left: 0px;">
            <a class="btn btn-primary" style="height: 80px;width: 100%;padding-top:20px" ng-click="send('VOLUMEUP')">
                <i class="fa fa-plus-circle"></i><br/>Vol
            </a>
            <a class="btn btn-primary" style="margin-top: 10px;height: 80px;width: 100%;padding-top:20px" ng-click="send('KEY_VOLUMEDOWN')">
                <i class="fa fa-minus-circle"></i><br/>Vol
            </a>
        </div>
        <div class="col-xs-6 col-md-4" style="width: 50%;padding-right: 5px;padding-left: 0px;">
            <a class="btn btn-primary" style="height: 80px;width: 100%;padding-top:20px" ng-click="send('CHANNELUP')">
                <i class="fa fa-plus-circle"></i><br/>CH
            </a>
            <a class="btn btn-primary" style="margin-top: 10px;height: 80px;width: 100%;padding-top:20px" ng-click="send('CHANNELDOWN')">
                <i class="fa fa-minus-circle"></i><br/>CH
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div>
            <a class="btn btn-primary" style="height: 60px;width: 100%;padding-top:15px" ng-click="send('UP')">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
        <div style="margin-top: 10px">
            <div class="col-xs-6 col-md-4" style="width: 33%;padding-right: 5px;padding-left: 0px;">
                <a class="btn btn-primary" style="height: 60px;width: 100%;padding-top:15px" ng-click="send('LEFT')">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
            <div class="col-xs-6" style="width: 33%;padding-right: 5px;padding-left: 0px;">
                <a class="btn btn-primary" style="height: 60px;width: 100%;padding-top:15px" ng-click="send('OK')">
	            OK
	        </a>
            </div>
            <div class="col-xs-6 col-md-4" style="width: 33%;padding-left: 5px;padding-right: 0px;">
                <a class="btn btn-primary" style="height: 60px;width: 100%;padding-top:15px" ng-click="send('RIGHT')">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div style="margin-top: 80px">
            <a class="btn btn-primary" style="height: 60px;width: 100%;padding-top:15px" ng-click="send('DOWN')">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
</div>
